<div class="contact">
    <ul>
        <li><img src="../img/email_icon.png"/><span> {{ email }} </span></li>
        <li><img src="../img/phone_icon.png"/><span> {{ phone }} </span></li>
        <li><img src="../img/skype_icon.png"/><span> {{ skype }} </span></li>
        <li><img src="../img/linkedin_icon.png"/><a href="http://uk.linkedin.com/pub/emil-talev/1a/116/500/" target="_blank"><span> {{ linked_in }}</span></a></li>
    </ul>
</div>