{{> header }}
{{> heading }}
<div class="content">
 <div class="proj_image">
    {{#images}}
       <img src="{{ image }}" />
    {{/images}}
 </div>
 <div class="proj_side" />
    <div class="proj_name">
        <h3> {{ name }} </h3>
    </div>
    <div class="description" />
        <h4> DESCRIPTION </h4>
        <span> {{ description }} </span>
    </div>
    <div class="components">
        <h4> PROJECT COMPONENTS </h4>
        <ul>
        {{#proj_components}}
            <li>{{name}}</li>
        {{/proj_components}}
        </ul>
    </div>
    <div class="proj_navigation">
        <ul>
            <li>HOME</li>
            <li> &lt;PREVIOUS </li>
            <li> NEXT&gt; </li>
        </ul>
    </div>
 </div>
</div>
{{> footer }}
