{{> header }}
<header>
    <ul class="header">
        <li><a href="../index.html"><img src="{{logo}}"/></a></li>
        <li><img src="{{header_img}}"/></li>
        <li><a href="index.html" />WORK</a></li>
        <li><a href="about.html" class="current" />ABOUT</a></li>
        <li><a href="#" id="contact" />CONTACT</a></li>
    </ul>
</header>
<div class="about_content">
 <div class="about_image">
       <img src="{{ image }}" />
 </div>
 <div class="about_side" />
    <div class="about_name">
        <h4> ABOUT EMIL</h4>
    </div>
    <div class="description" />
        {{#about_text}}
            <p>{{paragraph}}</p>
        {{/about_text}}
    </div>
    <div class="expertise">
        <h4> EXPERTISE </h4>
        <ul class="ex_one">
        {{#expertise_one}}
            <li>{{name}}</li>
        {{/expertise_one}}
        </ul>
        <ul class="ex_two">
        {{#expertise_two}}
            <li>{{name}}</li>
        {{/expertise_two}}
        </ul>
        <div class="clear"></div>
    </div>
    <div class="clients">
        <h4> BRANDS I HAVE WORKED FOR </h4>
        <ul class="ex_one">
        {{#clients_one}}
            <li>{{name}}</li>
        {{/clients_one}}
        </ul>
        <ul class="ex_two">
        {{#clients_two}}
            <li>{{name}}</li>
        {{/clients_two}}
        </ul>
        <div class="clear"></div>
    </div>
 </div>
</div>
{{> footer }}
