{{> header }}
<header>
    <ul class="header">
        <li><a href="index.html"><img src="{{logo}}"/></a></li>
        <li><img src="{{header_img}}"/></li>
        <li><a href="index.html" class="current" />WORK</a></li>
        <li><a href="about.html" />ABOUT</a></li>
        <li><a href="#" id="contact" />CONTACT</a></li>
    </ul>
</header>
<div class="content"> 
    <div class="gallery_nav">
        <div id="first_page">
            <div id="one_dark" class="dark_grey_button"></div>
            <div id="one_light" class="light_grey_button" style="display:none"></div>
        </div>
        <div id="second_page">
            <div id="two_dark" class="dark_grey_button" style="display:none"></div>
            <div id="two_light" class="light_grey_button"></div>
        </div>
    </div>
    <div class="pages_wrapper">
        <div class="page_one page_box">
            <ul class="featured">
                {{#featured_one}}
                    <li>
                        <figure class="tint"><a href="{{project_link}}"><img src="{{image}}" /><a></figure>
                        <h5><a href="{{project_link}}">{{name}}</a></h5>
                        <ul class="featured_categories">
                            {{#categories}}
                                <li>{{name}}</li>
                            {{/categories}}
                        </ul>
                    </li>
                {{/featured_one}}
            </ul>
            <ul class="featured">
                {{#featured_two}}
                    <li>
                        <figure class="tint"><a href="{{project_link}}"><img src="{{image}}" /><a></figure>
                        <h5><a href="{{project_link}}">{{name}}</a></h5>
                        <ul class="featured_categories">
                            {{#categories}}
                                <li>{{name}}</li>
                            {{/categories}}
                        </ul>
                    </li>
                {{/featured_two}}
            </ul>
        </div>
        <div class="page_two page_box">
            <ul class="featured">
                {{#featured_three}}
                    <li>
                        <figure class="tint"><a href="{{project_link}}"><img src="{{image}}" /><a></figure>
                        <h5><a href="{{project_link}}">{{name}}</a></h5>
                        <ul class="featured_categories">
                            {{#categories}}
                                <li>{{name}}</li>
                            {{/categories}}
                        </ul>
                    </li>
                {{/featured_three}}
            </ul>
            <ul class="featured">
                {{#featured_four}}
                    <li>
                        <figure class="tint"><a href="{{project_link}}"><img src="{{image}}" /><a></figure>
                        <h5><a href="{{project_link}}">{{name}}</a></h5>
                        <ul class="featured_categories">
                            {{#categories}}
                                <li>{{name}}</li>
                            {{/categories}}
                        </ul>
                    </li>
                {{/featured_four}}
            </ul>
        </div>
    </div>
</div>

{{> footer }}

